
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

lean_project/
lake-packages/
lake-manifest.json
lakefile.lean.backup

.ipynb_checkpoints/
.config/
sample_data/
*.ipynb

.DS_Store
Thumbs.db
